backend:
  name: git-gateway
  branch: main

media_folder: "img"
public_folder: "/img"

collections:
  - name: "productos"
    label: "Productos"
    folder: "data/productos"
    create: true
    format: "json"
    extension: "json"
    fields:
      - { label: "ID", name: "id", widget: "string" }
      - { label: "Nombre", name: "nombre", widget: "string" }
      - { label: "Precio", name: "precio", widget: "string" }
      - { label: "Descripcion", name: "descripcion", widget: "text" }
      - { label: "Imagen principal", name: "imagen", widget: "image" }
      - label: "Galeria"
        name: "galeria"
        widget: "list"
        field: { label: "Imagen", name: "imagen", widget: "image" }
