backend:
  name: git-gateway
  branch: main

media_folder: "img"
public_folder: "/img"

collections:
  - name: "productos"
    label: "Productos"
    folder: "data/productos"
    create: true
    format: "json"
    extension: "json"
    fields:
      - { label: "ID", name: "id", widget: "string" }
      - { label: "Nombre", name: "nombre", widget: "string" }
      - { label: "Precio", name: "precio", widget: "string" }

      - label: "Descripción"
        name: "descripcion"
        widget: "markdown"
        modes: [rich_text, raw]

      - { label: "Imagen principal", name: "imagen", widget: "image" }

      - label: "Categoría"
        name: "categoria"
        widget: "select"
        options:
          - { label: "Powerbanks", value: "powerbanks" }
          - { label: "Paneles", value: "paneles" }
          - { label: "Luces", value: "luces" }
          - { label: "Sistemas", value: "sistemas" }

      - label: "Galería"
        name: "galeria"
        widget: "list"
        field: { label: "Imagen", name: "imagen", widget: "image" }
