backend:
  name: git-gateway
  branch: main

media_folder: "/img"
public_folder: "/img"

collections:
  - name: "productos"
    label: "Productos"
    folder: "data/productos"
    create: true

    identifier_field: "nombre"
    slug: "{{slug}}"

    extension: "json"
    format: "json"

    fields:
      - { label: "Nombre", name: "nombre", widget: "string" }

      - label: "Slug"
        name: "slug"
        widget: "hidden"

      - { label: "ID", name: "id", widget: "string", required: false }

      - { label: "Precio", name: "precio", widget: "string" }

      - label: "Descripción"
        name: "descripcion"
        widget: "markdown"
        modes: ["rich_text", "raw"]
        hint: "Puedes usar Markdown y HTML."

      - { label: "Imagen principal", name: "imagen", widget: "image" }

      - label: "Categoría"
        name: "categoria"
        widget: "select"
        options:
          - { label: "Powerbanks", value: "powerbanks" }
          - { label: "Paneles", value: "paneles" }
          - { label: "Luces", value: "luces" }
          - { label: "Sistemas", value: "sistemas" }

      - label: "Galería"
        name: "galeria"
        widget: "list"
        allow_add: true
        summary: "{{fields.imagen}}"
        fields:
          - label: "Imagen"
            name: "imagen"
            widget: "image"
            media_folder: "/img/galeria/{{slug}}"
            public_folder: "/img/galeria/{{slug}}"

          - label: "Alt"
            name: "alt"
            widget: "string"
            required: false
